@import "bootstrap";
@import "font-awesome";
@import "angular-ui-notification";

.error-message {
	border-left: 3px solid $brand-danger;
	margin-top: 5px;
	min-height: 0px;
}

.input-with-keyboard__btn-group {
	padding-top: 10px;
}

.input-with-keyboard__btn {
	text-transform: none;
}